#parrot {
    border: none;
    background: url("../parrot.png") no-repeat;
    -webkit-animation: parrotheader 5s steps(70) infinite;
    animation: parrotheader 5s steps(70) infinite;
    content: "";
    position: absolute;
}

@-webkit-keyframes parrotheader {
    from {
        background-position: 0 0
    }

    to {
        background-position: 0 -14000px
    }
}

@keyframes parrotheader {
    from {
        background-position: 0 0
    }

    to {
        background-position: 0 -14000px
    }
}